  .form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150%;
    margin-bottom: 12px;
  }
  
  .form input[type="text"] {
    margin-top: 17px;
    padding: 10px;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 6px;
  }
  
  .form select.form-select {
    margin: 10%;
    padding: 10px;
    width: 70%;
    border: 1px solid #eee;
    border-radius: 6px;
  }
  
  .form input[type="text"]:focus,
  .form button[type="submit"]:focus,
  .form select:focus {
    outline: none;
  }
  
  .form button[type="submit"] {
    background-color: #008080;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
  }
  
  .search-bar {
    width: 80%;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 6px;
    margin-bottom: 12px;
  }
  
  .todo-listItems {
    width: 150%;
    display: flex;
    flex-direction: column;
  }
  
  .todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
   
  }
  
  .item-content {
    width: 50%;
    margin-right: 10px;
  }
  
  .item-status {
    width: 20%;
    margin-right: 10px; 
  }
  
  .todo-item button {
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px;
    margin-right: 12px;
  }
  
  .todo-item button:focus {
    outline: none;
  }
  
  .update-item {
    background-color: goldenrod;
    color: #fff;
  }
  
  .delete-item {
    background-color: red;
    color: #fff;
  }
  
  .update-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .update-new-input {
    width: 50%;
    border-radius: 6px;
    border: 1px solid #eee;
    padding: 8px;
    outline: none;
  }
  
  .update-new-select {
    width: 25%;
    border-radius: 6px;
    border: 1px solid #eee;
    padding: 8px;
    outline: none;
  }
  
  .update-new-btn {
    background-color: darkorchid;
    color: #fff;
    cursor: pointer;
    padding: 8px;
  }
  